.profile-form {
    font-size: large;
    padding-top: calc(15vh);
    padding-bottom: calc(10vh);
    background: #232526; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #414345,
      #232526
    );
    background: linear-gradient(
      to right,
      #414345,
      #232526
    );
}

.nav-main-form-building {
    border-bottom: 1px solid #aaaaaa;
}

.nav-bar-form-building-wrap {
    display: flex;
}

.avatar-container {
    text-align: center;
}

.avatar-wrap {
    border: 2px solid #aaaaaa;
    border-radius: 50%;
    overflow: hidden;
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar {
    width: 200px;
}

.avatar:hover {
    opacity: 0.7;
}

.submit-button-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.separator-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 10px 0;
}

.on-mobile-screen {
    display: none;
}

@media only screen and (max-width: 767px) {
    .profile-form {
        font-size: large;
        padding-top: calc(15vh);
        padding-bottom: calc(10vh);
    }
    
    .avatar-container {
        text-align: center;
    }
    
    .avatar-wrap {
        border: 2px solid #aaaaaa;
        border-radius: 50%;
        overflow: hidden;
        width: 180px;
        height: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .avatar {
        width: 200px;
    }
    
    .avatar:hover {
        opacity: 0.7;
    }
    
    .submit-button-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
    
    .separator-line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0 10px 0;
    }

    .on-default-screen {
        display: none;
    }

    .on-mobile-screen {
        display: inline-block
    }

    .group-button-control-mobi {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        flex-direction: column;
    }
}