.side-bar-animation {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    padding-bottom: 1em;
}

.side-bar-animation-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-bar-animation-body {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-bar-animation-body-icon-box {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.side-bar-animation-body-dowload-button {
    flex-grow: 1;
    display: flex;
    justify-content:center;
    align-items: center;
}

.side-bar-animation-footer {
    width: 100%;
    display: flex;
    justify-content: center;
}