.input-experience-group {
    margin-top: 20px;
}
.alert-add-row {
    margin-top: 10px;
}

.alert-add-row i{
    text-align: center;
    font-size: large;
}

@media only screen and (max-width: 374px) {
    .input-experience-group {
        margin-top: 20px;
    }
    .alert-add-row {
        margin-top: 10px;
    }
    
    .alert-add-row i{
        text-align: center;
        font-size: small;
    }
}